<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5432/postgres</property>
        <property name="connection.driver_mapping class=">org.postgresql.Driver</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">pass</property>

        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hbm2ddl.auto">update</property>

        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <mapping class="entity.CryptocurrencyCategory"/>
        <mapping class="entity.Cryptocurrency"/>
        <mapping class="entity.CryptocurrencyWthCategory"/>
        <mapping class="entity.Currency"/>
        <mapping class="entity.Etf"/>
        <mapping class="entity.InstrumentType"/>
        <mapping class="entity.Investment"/>
        <mapping class="entity.InvestmentHistory"/>
        <mapping class="entity.Role"/>
        <mapping class="entity.Stock"/>
        <mapping class="entity.StockIndustry"/>
        <mapping class="entity.StockSector"/>
        <mapping class="entity.Symbol"/>
        <mapping class="entity.SymbolPerformance"/>
        <mapping class="entity.User"/>
        <mapping class="entity.UserFavourite"/>
        <mapping class="entity.StockIndustry"/>
    </session-factory>
</hibernate-configuration>
