.article {
    display: flex;
    flex-direction: column;
    margin-left: 1.2rem;
    margin-top: 1rem;
    cursor: pointer;
    overflow: hidden;
    /* border-bottom: thin solid #979797; */
}
.article:hover {
    background-color: #393E46;
}

.article-title {
    font-weight: 750;
    font-size: 0.8em;
    margin: 0;
    text-align: left;
    overflow: hidden;
}

.article-summary {
    font-size: 0.7em;
    margin: 0;
    text-align: left;
    overflow: hidden
}

.articles {
    overflow-y: auto;
    height: 80%;
}

.article-details {
    overflow: hidden;
    color: white;
    width: 40%;
    height: 70%;
    margin-left: 27%;
    position: absolute;
    background-color: #1c1f23;
    align-items: center;
}

.close-icon-wrapper {
    margin-top: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: right;
}

.article-content {
    text-align: justify;
    word-wrap: break-word;
    margin: 1em;
    height: 80%;
    overflow-y: auto;
    margin-bottom: 2rem;
}

.article-content p {
    word-wrap: break-word;
    margin: 0.7em;
}

.article-details-title {
    padding: 10px;
    margin-top: 1rem;
    font-weight: 650;
    font-size: 1.5em;
    text-align: center;
}
